.navbar-header1 {
	background: #364153; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2NDE1MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #364153 0%, #000000 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #364153),
		color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #364153 0%, #000000 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #364153 0%, #000000 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #364153 0%, #000000 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #364153 0%, #000000 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364153',
		endColorstr='#000000', GradientType=0); /* IE6-8 */
	height: 70px;
	margin-bottom: 0px;
	z-index: 1030;
}

.navbar-header2 {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIia/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDawL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTawJSIgdmlld0JveD0iMCawIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiagPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjalIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICagPHN0b3agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiagICa8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3atY29sb3I9IiNjZGNkY2QiIHN0b3atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiagPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #cdcdcd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #cdcdcd 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #cdcdcd 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#cdcdcd', GradientType=0); /* IE6-8 */
}

#companyLogo {
	padding: 17.5px 40px !important;
}

/**
 * TaBS
 *
 * -------------------------------------------------------------------------------------------------
 */
.tabs ul.horizontal {
	margin: 0 !important;
	padding: 0 !important;
}

.tabs li {
	display: inline-block
}

.tabs a {
	color: #646464;
	display: block;
	font-size: 18px;
	font-weight: 600;
	padding: 11.5px 0px;
	text-align: center;
	text-decoration: none;
}

.tabs li.active, .tabshover {
	background: #324b8c !important;
}

.tabs li.active a, .tabshover a {
	color: #ffffff !important;
}

.userinfo{
	padding: 10px;
}

.dropdown .open{
	tran
}

.menuAcSettings{
	background:url(../img/AC_Settings_Menu.png) no-repeat top left;
	display: inline-block;
	height: 21px;
	width: 28px;
	zoom: 1;
    *display:inline;
}

.menuAcSettings_selected {
	background:url(../img/AC_Settings_Menu_Selected.png) no-repeat top left;
	display: inline-block;
	height: 21px;
	width: 28px;
	zoom: 1;
    *display:inline;
}

<!--
	[if gte IE 9]> 
		<style type ="text/css">
			.gradient {
				filter: none;
			}
		</style> 
	<![endif]
-->